form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

main{
    padding:20px;
    section{
        display: block;
        margin-left: auto;
        margin-right: auto;
        strong{
            font-weight: bold;
            font-size: 20px;
        }
    }
}

#results{
    padding: 15px;
    div{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
}